
.hero-container {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-image: url(../images/hero_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
