

.embla {

  overflow: hidden;
  max-width: 100%;

}
.embla__container {
  display: flex;
  width: 100rem;
  justify-content: start;

}
.embla__slide {
  flex: 0 0 60%;
  min-width: 100;
  padding: 1rem;


  
}


.embla__content {
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;


}
.embla__image__container {
  height: 100%;
  width: 100%;

}
.embla__image__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}