.embla {
  overflow: hidden;
  max-width: 100%;

}
.embla__container {
  display: flex;
  width: 100rem;

}
.embla__slide {
  flex: 0 0 50%;
  min-width: 0;
  
}


.embla__content {
  height: 16rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;

}
.embla__image__container {
  height: 100%;
  width: 100%;

}
.embla__image__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}