@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-hero-container {
    height: 100vh;
    max-height: 100vh;
    background-image: url(../images/pexels-houzlook-3926542.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;

}

body {
    font-family: Roboto;
}

.contact-us-box {
    height: 800px;
}

.contact-us-text {
    height: 100%;
    border-right-style: solid;
    border-right-width: 2px;
}