@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-hero-container {
    height: 100vh;
    max-height: 100vh;
    background-image: url(../images/pexels-houzlook-3926542.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;

}

body {
    font-family: Roboto;
}



input {
    height: 2.5em;
    border: 1px solid rgb(164, 163, 163);

}

.msgInput {
    border: 1px solid rgb(164, 163, 163);

}

.contact-us-box {
    height: 100%;
    background-color: rgba(254, 255, 254, 0.25);
    backdrop-filter: blur(3px);
}

form {
    opacity: 1;
}

.contact-us-text {
    height: 100%;
    ;
}