.footer-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.footer-logo {
    width: 5rem;
    height: 5rem;
}

.footer-bar a {
    margin:0.5rem;
    color: rgb(128, 127, 127);
    font-size: 1rem;
}