
.hero-container {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-image: url(../images/hero_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    
}

.hero-text-container {
    color: white;
    font-family: var(--primaryFont), serif;
    margin: auto 0;
    transform: translateY(-20%);
    justify-items: center;
}

.hero-text-container h1 {
    font-size: 3rem;
    font-weight: bolder;
}
.hero-text-container p {
    font-size: 1.25rem;
    font-weight: lighter;
}

.hero-button-container {
    padding-top: 1rem;
}

.hero-button-container a {
    font-weight: lighter;
    font-size: 1rem;
    color: white;
    border: 0px;
    margin: 1rem;
    background-color: transparent;
    text-decoration: none;
}
.hero-button-container a:hover {
    color: var(--primaryColour)
}


.hero-button-container .hero-contact-button {
    border: 1px solid white;
    padding: 10px;

}

.hero-button-container .hero-contact-button:hover {
    border: 1px solid white;
    padding: 10px;
    opacity: 50%;
}