
.hero-container {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-image: url(../images/hero_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    
}

.hero-text-container {
    color: white;
    font-family: var(--primaryFont), serif;
    margin: auto 0;
    transform: translateY(-20%);
}

.hero-text-container p, h1 {
      justify-self: center;
}

.hero-text-container h1 {
    font-size: 3rem;
    font-weight: bolder;
}
.hero-text-container p {
    font-size: 1.25rem;
    font-weight: lighter;
}