.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--secondaryFont), serif;
  padding: 0.75rem;
  color: white;
}

.link-text:hover {
  color: var(--secondaryColour);
}

.quote-button {
  border-radius: 12px;
  padding: 0.75rem 1rem;
  color: white;
  background-color: var(--primaryColour);
  text-decoration: none;
}

.quote-button:hover {
  background-color: var(--secondaryColour);

}
