
.portfolio-hero-container {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-image: url(../images/hero_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    
}

.portfolio-hero-text-container {
    color: white;
    font-family: var(--primaryFont), serif;
    margin: auto 0;
    transform: translateY(-20%);
    justify-items: center;
}

.portfolio-hero-text-container h1 {
    font-size: 3rem;
    font-weight: bolder;
}

.gallery-container {
    display: flex;
    justify-content: center;
    
}

.gallery-row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
}

.gallery-column {
    width: 33%;
}

.gallery-column img {
    width: 90%;
    padding-bottom: 10px;
    height: 100%;
}



.gallery-column-2 img:first-child {
    padding-top: 5rem;
}